@page
@model CarInfo.MVC.Views.Cars.MercedesModel
@{
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">⚡Znajdź swój samochód⚡</h1>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="search-bar">
                            <button>
                                <img alt="" src="/img/icon/loupe_icon.png">
                            </button>
                            <label for="searchInput">
                                <input id="searchInput" placeholder="Szukaj pojazdu.." type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2 class="mb-4">Wszystkie modele | <img class="small-img" src="/img/icon/Mercedes_icon.png" /></h2>
    <hr />
    @*Brands*@
    <div class="menu-items">
        <ul class="ms-0">
            <li class="brand-section">
                <a href="@Url.Action("BMW", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/bmw_icon.png" />
                    </div>
                    <span>Bmw</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Mercedes", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/mercedes_icon.png" />
                    </div>
                    <span>Mercedes</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Ford", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/ford_icon.png" />
                    </div>
                    <span>Ford</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Mazda", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/mazda_icon.png" />
                    </div>
                    <span>Mazda</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Renault", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/renault_icon.png" />
                    </div>
                    <span>Renault</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Peugeot", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/peugeot_icon.png" />
                    </div>
                    <span>Peugeot</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Opel", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/opel_icon.png" />
                    </div>
                    <span>Opel</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Volvo", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/volvo_icon.png" />
                    </div>
                    <span>Volvo</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Volkswagen", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/volkswagen_icon.png" />
                    </div>
                    <span>Volkswagen</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Fiat", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/fiat_icon.png" />
                    </div>
                    <span>Fiat</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Audi", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/audi_icon.png" />
                    </div>
                    <span>Audi</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Toyota", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/toyota_icon.png" />
                    </div>
                    <span>Toyota</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Seat", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/seat_icon.png" />
                    </div>
                    <span>Seat</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Hyundai", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/hyundai_icon.png" />
                    </div>
                    <span>Hyundai</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="@Url.Action("Citroen", "Cars")">
                    <div class="d-flex justify-content-center">
                        <img src="/img/icon/citroen_icon.png" />
                    </div>
                    <span>Citroen</span>
                </a>
            </li>
        </ul>



    </div>

    @*Cars*@
    <hr class="mt-0" />
    <div class="container pt-4">
        <div class="row row-gap-4 row-cols-xxl-5 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2">
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_A.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes A</h3>
                    <span class="models_item_subhead">4 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_AMG_GT.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes AMG GT</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_B.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes B</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_C.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes C</h3>
                    <span class="models_item_subhead">6 generacji modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Citan.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes Citan</h3>
                    <span class="models_item_subhead">4 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CLA.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes CLA</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CLS.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes CLS</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_E.jpeg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes E</h3>
                    <span class="models_item_subhead">7 generacji modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQA.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQA</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQB.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQB</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQC.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQC</h3>
                    <span class="models_item_subhead">4 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQE.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQE</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQS.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQS</h3>
                    <span class="models_item_subhead">4 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_EQV.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes EQV</h3>
                    <span class="models_item_subhead">2 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_G.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes G</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLA.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLA</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLB.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLB</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLC.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLC</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLE.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLE</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLS.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLS</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_MarcoPolo.jpg" />
                    </div>
                    <h3 class="models_item_title">Mercedes Marco Polo</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_S.jpeg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes S</h3>
                    <span class="models_item_subhead">5 generacji modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_SL.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes SL</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Sprinter.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes Sprinter</h3>
                    <span class="models_item_subhead">4 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_T.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes T</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_V.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes V</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Vito.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes Vito</h3>
                    <span class="models_item_subhead">6 generacji modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CSportCoupe.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes C-SportCoupe</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CL.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes CL</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CLC.jpg" />
                    </div>
                    <h3 class="models_item_title">Mercedes CLC</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_CLK.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes CLK</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_eVito.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes eVito</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GL.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GL</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_GLK.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes GLK</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_M.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes M</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_R.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes R</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_SLC.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes SLC</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_SLK.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes SLK</h3>
                    <span class="models_item_subhead">3 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_SLR.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes SLR</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_SLS_AMG.jpg" />
                    </div>
                    <h3 class="models_item_title">Mercedes SLS AMG</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Vaneo.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes Vaneo</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Vario.jpg" />
                    </div>
                    <h3 class="models_item_title">Mercedes Vario</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_Viano.jpg" />
                    </div>
                    <h3 class="models_item_title">Mercedes Viano</h3>
                    <span class="models_item_subhead">2 generacje modelu</span>
                </a>
            </div>
            <div>
                <a class="models_item">
                    <div class="models_item_image">
                        <img src="/img/Mercedes/Mercedes_X.jpg" alt="" />
                    </div>
                    <h3 class="models_item_title">Mercedes X</h3>
                    <span class="models_item_subhead">1 generacja modelu</span>
                </a>
            </div>
        </div>
    </div>
</div>