@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center img-200">
    <h1 class="fw-bolder mt-5">Załóż konto aby kontynuować</h1>
    <img src="/img/icon/Register_car.png" alt="" />
</div>
<div class="d-flex justify-content-center">
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <a asp-page="./login" asp-route-returnUrl="@Model.ReturnUrl">
                <button class="btn fs-4 shadow-none btn-outline-primary">Zaloguj się</button>
            </a>
            <span class="fs-5 px-4">lub</span>
            <a>
                <button class="btn fs-4 shadow-none btn-outline-primary">Załóż konto</button>
            </a>
        </div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Powtórz hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Załóż konto</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to register.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
    about setting up this ASP.NET application to support logging in via external services</a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
